.wrapper{
    display: flex;
    gap: 20px;
}

.wrapper .sidebar{
    background-color: #ccc;
    padding: 20px;
}

.wrapper .sidebar ul{
    list-style: none;
    padding: 0;
}
.wrapper .sidebar ul li{
    display: flex;
    flex-direction: column;
    gap: 20px   ;
}
.wrapper .sidebar li a {
    padding: 5px 10px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.wrapper .sidebar li a:hover{
    background-color: blue;
    color: #fff;
    cursor: pointer;
}

